.button {
    cursor: pointer;
    font-family: 'Montserrat', serif;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    text-transform: uppercase;
    &:active {
        opacity: 50%;
    }
}

.button-text {
    display: block;
    padding: 10px 20px;
    color: #BC9CFF;
}

@import './button_fill.scss';
@import './button_with-border.scss';
@import './button_submit.scss';