.button {
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Montserrat', serif;
    background: transparent;
    border-radius: 22px;
    border: none;
    text-transform: uppercase;
    color: $main-color;
    &:active {
        opacity: 50%;
    }
}

@import './button_fill.scss';
@import './button_with-border.scss';
@import './button_submit.scss';