mixin card-hotel-number(attrbsImg)
  .card
    .card-img
      img&attributes(attrbsImg)
    .card-body
      span.card-number № 888 люкс
      span.card-price 9 990₽ в сутки
      hr
      span.card-stars star star star star star
      span.card-otziv 145 Отзывов

mixin card-sign-in(attrbsImg)
  .card
    .card-title Войти
    form.card-form
      .form-group
        +input({type: "email", name: 'email', placeholder: "Email", class: 'input form-element'})
        +input({type: "password", name: 'password', placeholder: "Пароль", class: 'input form-element'})
      +button({type: 'submit', class: 'button button-fill button-submit'}, "войти")
    .card-redirect
      span.redirect-text Нет аккаунта на Toxin?
      +button({class: 'button button-with-borders'}, 'Создать')

mixin card-sign-up(attrbsImg)
  .card
    .card-title Регистрация аккаунта
    form.card-form
      .form-group
        +input({type: "text", placeholder: "Имя", class: 'input form-element'})
        +input({type: "text", placeholder: "Фамилия", class: 'input form-element'})
      .form-group
        input(type='radio' name='gender' id='men')
        label(for="men") Мужской
        input(type='radio' name='gender' id='women')
        label(for="women") Женский
      .form-group
        label.form-label Дата рождения
        +input({type: 'text', name: "birthday", placeholder: 'ДД.ММ.ГГГГ', class: 'input form-element'})
      .form-group
        label.form-label Данные для входа в сервис
        +input({type: "email", name: 'email', placeholder: "Email", class: 'input form-element'})
        +input({type: "password", name: 'password', placeholder: "Пароль", class: 'input form-element'})
      .form-group
        input(type='checkbox')
        span Получать спецпредложения
      +button({type: 'submit', class: 'button button-fill button-submit'}, "перейти к оплате")
    .card-redirect
      span.redirect-text Уже есть аккаунт на Toxin?
      +button({class: 'button button-with-borders'}, 'Войти')