include ../input/input.pug
include ../datepicker/datepicker.pug
include ../form/form.pug

mixin card-dates()
  input.dates(name="dates" type="text")

mixin card-hotel-number(attrbsImg)
  .card
    .card-img
      img&attributes(attrbsImg)
    .card-body
      span.card-number № 888 люкс
      span.card-price 9 990₽ в сутки
      hr
      span.card-stars star star star star star
      span.card-otziv 145 Отзывов

mixin card-find-hotel-room()
  .card
    .card-title Найдём номера под ваши пожелания
    +form-card-find-hotel-room()

mixin card-sign-in(attrbsImg)
  .card
    .card-title Войти
    +form-card-sign-in()

mixin card-sign-up(attrbsImg)
  .card
    .card-title Регистрация аккаунта
    +form-card-sign-up()