include ../button/button

header.header
  .header-logo Toxin
  nav.header-nav
    a(href="#").header-nav-item О нас
    button.header-nav-item.wrapper-dropdown
      span Услуги
      ul.dropdown
        li.dropdown-item
          a(href="#").dropdown-item-link step1
        li.dropdown-item
          a(href="#").dropdown-item-link step1
        li.dropdown-item
          a(href="#").dropdown-item-link step1
        li.dropdown-item
          a(href="#").dropdown-item-link step1
    a(href="#").header-nav-item Вакансии
    a(href="#").header-nav-item Новости
    button.header-nav-item.wrapper-dropdown
      span Соглашения
      ul.dropdown
        li.dropdown-item
          a(href="#").dropdown-item-link step1
        li.dropdown-item
          a(href="#").dropdown-item-link step1
        li.dropdown-item
          a(href="#").dropdown-item-link step1
        li.dropdown-item
          a(href="#").dropdown-item-link step1
  .sign-buttons
    +button({class: 'button button-with-borders'}, 'войти')
    +button({class: 'button button-fill'}, 'зарегистрироваться')