mixin datepicker(attrbs={})
    input&attributes(attrbs)

mixin daterange(attrbs={})
    input(id='daterange' type='text')
    input(id='daterange_from' type='text')
    input(id='daterange_to' type='text')