mixin checkbox(attrbsLabel = {}, classCheckbox = '', textLabel = '')
    input(type="checkbox" id=attrbsLabel.for class=classCheckbox)
    label(for=attrbsLabel.for)= textLabel
        div&attributes(attrbsLabel)