.header {
    font-family: 'Montserrat', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
}
.header-nav-item {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    display: inline-block;
    color: black;
    text-decoration-line: none;
    &:nth-child(1n + 2) {
        margin-left: 20px;
    }
}
.wrapper-dropdown {
    position: relative;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.wrapper-dropdown::after {
    content: '';
    display: inline-block;
    border-bottom: 0;
    border-top: 0.2em;
    border-left: 0.2em;
    border-right: 0.2em;
}
.dropdown-header {
    list-style: none;
    position: absolute;
    display: none;
    z-index: -1;
}
.dropdown-item {
    display: block;
    border: 1px solid #bc9cff;
    padding: 10px 15px 10px 5px;
    &-link {
        color: black;
        text-decoration-line: none;
    }
}
.sign-buttons {
    margin-left: 20px;
    & > .button:nth-child(1n + 2) {
        margin-left: 20px;
    }
}