include ../../ui-kit/input/input

footer
  .footer-top
    .footer-item
      .footer-logo Toxin
      p.footer-item-description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer-item
      p.footer-item-title Навигация
      ul.footer-item-list
        li
          a(href="#").footer-item-link О нас
        li
          a(href="#").footer-item-link Новости
        li
          a(href="#").footer-item-link Служба поддержки
        li
          a(href="#").footer-item-link Услуги
    .footer-item
      p.footer-item-title О нас
      ul.footer-item-list
        li
          a(href="#").footer-item-link О сервисе
        li
          a(href="#").footer-item-link Наша команда
        li
          a(href="#").footer-item-link Вакансии
        li
          a(href="#").footer-item-link Инвесторы
    .footer-item
      p.footer-item-title Служба поддержки
      ul.footer-item-list
        li
          a(href="#").footer-item-link Соглашения
        li
          a(href="#").footer-item-link Сообщества
        li
          a(href="#").footer-item-link Связь с нами
    .footer-item
      p.footer-item-title Подписка
      p.footer-item-description Получайте специальные предложения и новости сервиса
      div.footer-item-subscribe
        +input({type: "email", placeholder: "Email", class: 'input'})
  hr
  .footer-bottom
    .footer-bottom-item Copyright © 2018 Toxin отель. Все права защищены.
    .footer-bottom-item
      .footer-bottom-icon
      .footer-bottom-icon
      .footer-bottom-icon