doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="path/to/jquery.js")
    script(src="path/to/jquery.nice-select.js")
  body
    .container
      include blocks/header/header.pug

      include blocks/footer/footer.pug