doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .container
      include components/header/header.pug
      include components/card/card.pug
      +card-hotel-number()
      +card-sign-up()
      +card-sign-in()
      include components/footer/footer.pug