doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .container
      include modules/header/header.pug
      include components/card/card.pug
      include ui-kit/datepicker/datepicker.pug
      +card-hotel-number()
      +card-sign-up()
      +card-sign-in()
      +card-find-hotel-room()
      include modules/footer/footer.pug