@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.svg) format('svg'),
         url(../fonts/Montserrat-Bold.ttf) format('truetype'),
         url(../fonts/Montserrat-Bold.woff) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.svg) format('svg'),
         url(../fonts/Montserrat-Regular.ttf) format('truetype'),
         url(../fonts/Montserrat-Regular.woff) format('woff');
    font-weight: 400;
}
// @import '../components/header/header.scss';
@import '../components/button/button.scss';
@import '../components/input/input.scss';
@import '../components/toggle/toggle.scss';
@import '../components/checkbox/checkbox.scss';
@import '../components/dropdown/dropdown.scss';
@import '../components/header/header.scss';
@import '../components/card/card.scss';
@import '../components/footer/footer.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', serif;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
}

p {
    margin: 0;
}

.active {
    display: block;
}