header.header
  .header-logo Toxin
  nav.header-nav
    a(href="#").header-nav-item О нас
    button.header-nav-item.wrapper-dropdown
      span Услуги
      ul.dropdown
        li.dropdown-item
          a(href="#") step1
        li.dropdown-item
          a(href="#") step1
        li.dropdown-item
          a(href="#") step1
        li.dropdown-item
          a(href="#") step1
    a(href="#").header-nav-item Вакансии
    a(href="#").header-nav-item Новости
    button.header-nav-item.wrapper-dropdown
      span Соглашения
      ul.dropdown
        li.dropdown-item
          a(href="#") step1
        li.dropdown-item
          a(href="#") step1
        li.dropdown-item
          a(href="#") step1
        li.dropdown-item
          a(href="#") step1
    button.header-nav-item.sign-button
      span войти
    button.header-nav-item.sign-button.sign-button-fill
      span зарегистрироваться