header.header
  .header-logo Toxin
  nav.header-nav
    a(href="#").header-nav-item О нас
    button.header-nav-item.dropmenu Услуги
    a(href="#").header-nav-item Вакансии
    a(href="#").header-nav-item Новости
    button.header-nav-item.dropmenu Соглашения
    button.header-nav-item.sign-button
      span войти
    button.header-nav-item.sign-button.sign-button-fill
      span зарегистрироваться